.BorTit
  border-left: 4px solid $color-acento-contenido
  padding: 0px 0px 0px 10px
  font-size: 0.8em

iframe
  border-radius: 10px

figcaption
  margin-top: 4px

.texto-negro
  color: $color-sistema-texto !important

.border-radius-15
  border-radius: 15px

.border-radius-10
  border-radius: 10px

.t1 .lista-ol--cuadro__vineta
  background-color: #DB6E5F

.tabla-b.color-acento-contenido th
  background-color: #DB6E5F
  color: white

.t1.tarjeta.color-primario
  background-color: #0D66BF

.t1-div1
    background-color: #F8DE63
    border-radius: 15px


